{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div>
    <h1>Login! ✅</h1>
    
    {% if error %}
        <span class="error"> {{ error.messageKey }}</span>
    {% endif %}
    
    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="form_username" class="required">Username</label>
            <input type="text" required="required" id="form_username" class="form-control" name="_username" value="{{ last_username }}" placeholder="username"  />
        </div>

        <div class="form-group">
                <label for="form_password" class="required">Password</label>
                <input type="password" required="required" id="form_password" class="form-control" name="_password" placeholder="password" />
        </div>

        <div class="form-group">
            <button class="btn-primary btn" type="submit" value="login">Login</button>
        </div>

    </form>
</div>
{% endblock %}
