{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div>
    <h1>Sign up! ✅</h1>
    
    {% if error %}
        <span class="error"> {{ error.messageKey }}</span>
    {% endif %}
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
